@media screen and (max-width:683px){
    .first-part{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .heading{
        width:90vw;
    }
    .image-main{
        width:70vw;
    }

}

@media screen and (max-width:984px){
    .sections{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .card{
        margin:20px 0;
    }
 
}