<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}"/>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/responsive.css') }}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
  <title>Upload Image</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark" id="nav-title">
    <div class="container-fluid">
      <a class="navbar-brand" href="../">
        <img src="static/img/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top" >
        WasteCheck
      </a>
    </div>
  </nav>
  <div class="plastic">
    <h1>ORGANIC WASTE</h1>
    <div class="plastic-img" id="organic"><img src="static/img/organic waste.jpg" alt=""></div>
    <p>So, seems like the item you have is an organic waste.</p>
    <p>Minimising he consumption of plastics is much simpler than it seems. </p>
    <p>Because paper products are biodegradable, people are complacent when handling paper waste. Nevertheless, the biodegradable nature of paper is not the determining factor of sustainability — the efficiency of waste management and the volume of waste produced are.

      <br>Think Before You Print

      <br>How often does your facility produce printed materials? How much of it is necessary? How much is redundant?
      
      <br>Printing meeting agendas and presentations, for example, is the norm in most companies, but how often do people refer to these handouts? These printouts are typically discarded soon as the meeting is done.
      <ul>      
      <li>Take advantage of technology. Use digital media to communicate the schedule or add visuals to a presentation whenever possible.</li>
      <li>Only print the pages needed. Avoid printing out the whole document if you only need 2 or 3 pages.</li>
      <li>Use both sides of the paper for printing whenever possible.</li>
      <li></li>Go Paperless</li>
      </ul>

      <br>
      Modern technology has allowed the world to minimize the use of paper. Several alternatives and cloud-based applications are available to reduce the world’s paper dependence.<br
      <ul>
        <li>If the option is available, have your company switch to paperless transactions.</li>
        <li>Use electronic storage for your materials. For example, save your events on an online calendar. Apps have become so advanced and connected that printing announcements and reminders are optional and only done when necessary.</li>
        <li>Switch to digital magazines and newspaper subscriptions.</li>
        <li>Software tools have allowed electronic collaboration. In paper collaboration, you have to print your work before you can have it reviewed. New edits would require another batch of printing. However, when you opt to share the document online, you allow recipients to include their ideas and make alterations before printing the final output.</li>
        <li>Maximize email and reduce paper mail. More companies prefer to communicate online nowadays. Shifting to electronic mailing also reduces the need for fax printing.</li>
      </ul>
       Get Creative
      
      Paper is recyclable and reusable. Paper waste recycling is something that environmental advocates have pushed for many years. It doesn’t have to go straight into the trash can after use. With a bit of creativity, you can breathe new life into it. Getting creative with reusing paper is something that you, your family, or your coworkers can easily do.
      
      Many printed papers only utilize one side. You can cut them into smaller pieces and use the unutilized side for your notes.
      Don’t throw away old newspapers. You can save them for wrapping gifts during company events.
      Transform old and used paper into stunning decor for company events.
      Reuse cardboards to store inventory.
      </p>
    <a href="../" class="know-more">GO BACK HOME</a>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>